main {
  padding: 4px 10px;
}

.github {
  text-align: center;
  a {
    color: inherit!important;
    font-weight: bold;
  }
}

.home {
  text-align: center;

  sp-button {
    margin-right: 14px;
  }
}

.onxxic {
  .type {
    display: flex;
    margin-bottom: 5px;
  }

  .mode {
    flex: 1;
  }

  .ray-number {
    width: 70px;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    sp-detail {
      margin-bottom: 0;
    }

    .cancel {
      margin-right: 4px;
    }
  }

  .colorize {
    margin-top: 4px;
    display: flex;
    align-items: center;

    .picker {
      cursor: pointer;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      border: 2px solid #aaa;
    }

    .checkbox {
      margin-right: auto;
    }
  }
}
