name: Release

on:
  release:
    types:
      - created

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Check out git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build && mv dist shirasawa.BloomsPro

      - name: Create zip file
        run: zip -r shirasawa.BloomsPro.zip shirasawa.BloomsPro

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: shirasawa.BloomsPro.zip
          tag: ${{ github.ref }}
